#container {
	width: 500px;
	margin: 0 auto;
	border: solid red 1px;
	color: #ffffff;
	text-align: center;
}

body {
	background: #000000;
}

summary:hover {
	background-color: black;
}

summary {
	font-size: 30px;
	background: red;
	outline: none;
	cursor: pointer;
	border: 1px ridge black;
	border-bottom: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary:before {
	 content: "+";
	 color: white;
	 background: red;
	 font-weight: bold;
	 width: 20px;
	 float: left;
	 text-align: center;
	 border-radius: 3px;
	 line-height: 30px;
}

section {
	font-size: 25px;
	background: blue;
	padding: 10px;
	border-right: 1px ridge black;
	border-left: 1px ridge black;
	border-top: 1px ridge black;
}


details[open] summary::before {
		content: "-";
}

p {
	font-size: 20px;
	margin: 0 auto;
	line-height: 30px;
}



